.mat-icon-24 {
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 10px;
}

/* cdk-virtual-scroll-viewport {
    height: 300px;
}

::ng-deep.cdk-virtual-scroll-content-wrapper {
    padding: 5px;
    box-sizing: border-box;
} */

.item-list {
    max-height: 415px;
    margin-top: 1rem;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

.small-btn {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.small-img {
    font-size: 16px;
    line-height: 16px;
}

.limited-height ::ng-deep.mat-expansion-panel-content {
    overflow-y: auto;
    height: auto;
    max-height: 100px;
}

.limited-height ::ng-deep.mat-expansion-panel-header[aria-disabled=true]{
    color: #000;
}