@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
    padding: 0;
    margin: 0;
    outline: none !important;
}

html, body { height: 100%; background-color: #eeeeee; scroll-behavior: smooth; }
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.acc-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.acc-slogan {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.full-width {
    width: 100%;
}

.acc-error-msg {
    background: rgba(255, 0, 0, 0.4);
    color: #f00;
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0 0 5px 0;
    font-size: 0.8rem;
}

.acc-success-msg {
    background: rgba(115, 255, 0, 0.4);
    color: rgb(3, 88, 7);
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0 0 5px 0;
    font-size: 0.8rem;
}

.acc-link {
    display: block;
    padding-top: 1rem;
    text-decoration: none;
    color: #3f51b5;
}

.left-float {
    float: left;
}

.fs-20 {
    font-size: 20px !important;
}

.flex-gap {
    flex: 1 1 auto;
}

.flex-d {
    display: flex;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.success {
  color: rgb(3, 88, 7);
  font-size: 0.9rem;
}

/*#################################################
##################### Spinner #####################
#################################################*/
.spinner span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border: 2px solid #555;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    animation: rotate360 2s infinite ease-in-out;
  }

  .spinner span:nth-child(1) {
    height: 50px;
    width: 50px;
    border-left: 2px solid #FC7670;
    border-right: 2px solid #FC7670;
    animation-delay: 0.8s;
  }

  .spinner span:nth-child(2) {
    height: 70px;
    width: 70px;
    border-left: 2px solid #EBD793;
    border-right: 2px solid #EBD793;
    animation-delay: 0.6s;
    animation-direction: reverse;
  }

  .spinner span:nth-child(3) {
    height: 90px;
    width: 90px;
    border-left: 2px solid #6ED1B7;
    border-right: 2px solid #6ED1B7;
    animation-delay: 0.4s;
  }

  .spinner span:nth-child(4) {
    height: 110px;
    width: 110px;
    border-left: 2px solid #38A484;
    border-right: 2px solid #38A484;
    animation-delay: 0.2s;
    animation-direction: reverse;
  }

  .spinner span:nth-child(5) {
    height: 130px;
    width: 130px;
    border-left: 2px solid #365050;
    border-right: 2px solid #365050;
  }

  @keyframes rotate360 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
      -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1);
      -o-transform: translate(-50%, -50%) rotate(0deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
      -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
      -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
      -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
      -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg) scale(1);
      -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
      -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1);
      -o-transform: translate(-50%, -50%) rotate(360deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
  }