<h1 mat-dialog-title>Join Group</h1>
<form [formGroup]="joinForm" (submit)="join(joinForm.value)">
  <div mat-dialog-content>
    <p class="error" *ngIf="message">{{ message }}</p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Join Code</mat-label>
      <input type="text" matInput autocomplete="off" formControlName="code">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()" type="button">Cancel</button>
    <button mat-raised-button cdkFocusInitial color="primary" type="submit">Join</button>
  </div>
</form>