<h1 mat-dialog-title>Filter Item</h1>
<form [formGroup]="filterForm" (submit)="filter(filterForm.value)">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width" *ngIf="singleton.group.id">
      <mat-label>Purchaser</mat-label>
      <mat-select formControlName="purchaser">
        <mat-option *ngFor="let member of singleton.group.members" [value]="member.id">{{ member.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start date</mat-label>
      <input type="text" matInput autocomplete="off" [matDatepicker]="start" formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End date</mat-label>
      <input type="text" matInput autocomplete="off" [matDatepicker]="end" formControlName="end">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()" type="button">Cancel</button>
    <button mat-raised-button cdkFocusInitial color="primary" type="submit">Filter</button>
  </div>
</form>