<h1 mat-dialog-title>Filter Item</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Purchaser</mat-label>
      <mat-select>
        <mat-option value="1">Sumit Ranjan</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start date</mat-label>
      <input type="text" matInput autocomplete="off" [matDatepicker]="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End date</mat-label>
      <input type="text" matInput autocomplete="off" [matDatepicker]="end">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary">Filter</button>
</div>